<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapiBrownies - Inicio</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body class="stackable" style="background-color: #F4F3EE;">
    <!-- Sidebar -->
    <div class="ui inverted vertical sidebar menu">
        <a class="active item" href="index.html">Inicio</a>
        <a class="item" href="Productos.html">Productos</a>
        <a class="item" href="conocenos.html">Conócenos</a>
    </div>
    <div class="pusher" style="background-color: #F4F3EE;">
        <div class="ui segment" style="background-color: #4b2d19;">
            <div class="centered-content">
                <button class="ui inverted icon button" id="despegable">
                    <i class="bars icon"></i>
                </button>
                <img class="ui centered small image" style="height: 70px; object-fit: contain;" src="/logo.jpg"
                    alt="Logo CapiBrownies">
                <div class="ui inverted icon buttons" style="position: absolute; right: 10px;">
                    <a class="ui inverted button" href="#">
                        <i class="shopping cart icon"></i>
                    </a>
                    <a class="ui inverted button" id="user-dropdown">
                        <i class="user icon"></i>
                    </a>
                    <div class="ui flowing popup transition hidden" id="user-dropdown-content">
                        <!-- Dropdown content -->
                        <div class="ui vertical inverted menu">
                            <a class="item" href="/usuario.html">Cuenta</a>
                            <a class="item">Preferencias</a>
                            <div class="divider"></div>
                            <a class="item" href="/">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Imágenes -->
        <div class="ui special cards">
            <div class="ui stackable two column grid">
                <div class="column">
                    <div class="">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="Productos.html">
                                        <button class="ui button" style="background-color: #D782BA;">
                                            <p><span class="ui large text">Nuestro brownie clásico es una delicia suave
                                                    y esponjosa con un intenso sabor a chocolate. Es perfecto para los
                                                    amantes del chocolate puro.</span></p>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="regular.html"><img style="width: 100%; height: 620px; object-fit: cover;" src="/brwnie.jpg"
                                alt="imagen 1"></a>
                        <div class="image-text">
                            <p><span class="ui big text"><b>Regular</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column">
                        <div class="image-container blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a href="Productos.html">
                                            <button class="ui button" style="background-color: #D782BA;">
                                                <p><span class="ui large text">Una combinación perfecta de chocolate y
                                                        nueces crujientes. Cada bocado ofrece un equilibrio exquisito de
                                                        texturas y sabores.</span></p>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;" src="/galleta.jpg"
                                    alt="imagen 2"></a>
                            <div class="image-text">
                                <p><span class="ui big text"><b>Nuez</b></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column grid">
                        <div class="column">
                            <div class="image-container blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="Productos.html">
                                                <button class="ui button" style="background-color: #D782BA;">
                                                    <p><span class="ui large text">Irresistiblemente suaves y rellenos
                                                            con una generosa capa de Nutella. Cada bocado es una
                                                            explosión de sabor a avellanas y chocolate.</span></p>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;"
                                        src="/nutella.jpg" alt="imagen 3"></a>
                                <div class="image-text">
                                    <p><span class="ui big text"><b>Nutella</b></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="image-container blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="Productos.html">
                                                <button class="ui button" style="background-color: #D782BA;">
                                                    <p><span class="ui large text">Cubiertos con trozos de coco rallado,
                                                            tienen un sabor tropical único. Son una opción perfecta para
                                                            aquellos que adoran el coco.</span></p>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;" src="/coco.jpg"
                                        alt="imagen 4"></a>
                                <div class="image-text">
                                    <p><span class="ui big text"><b>Coco</b></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="ui special cards">
            <div class="ui stackable two column grid">
                <div class="column">
                    <div class="column">
                        <div class="image-container blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a href="Productos.html">
                                            <button class="ui button" style="background-color: #D782BA;">
                                                <p><span class="ui large text">Una maravillosa combinación de chocolate
                                                        y vainilla. Sus capas alternas crean un patrón de rayas que es
                                                        igual de hermoso que delicioso.</span></p>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;" src="/zebra.jpg"
                                    alt="imagen 5"></a>
                            <div class="image-text">
                                <p><span class="ui big text"><b>Zebra</b></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column grid">
                        <div class="column">
                            <div class="image-container blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="Productos.html">
                                                <button class="ui button" style="background-color: #D782BA;">
                                                    <p><span class="ui large text">Cargados de trozos de galleta Oreo.
                                                            Es una mezcla celestial de chocolate y galleta que hará que
                                                            tus papilas gustativas se vuelvan locas.</span></p>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;" src="/oreo.jpg"
                                        alt="imagen 6"></a>
                                <div class="image-text">
                                    <p><span class="ui big text"><b>Oreo</b></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="image-container blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="Productos.html">
                                                <button class="ui button" style="background-color: #D782BA;">
                                                    <p><span class="ui large text">Tienen un relleno de queso crema
                                                            suave y cremoso que se combina a la perfección con el sabor
                                                            del chocolate. Es como tener dos postres en uno.</span></p>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=""><img style="width: 100%; height: 307.3px; object-fit: cover;"
                                        src="/cheesecake.jpg" alt="imagen 7"></a>
                                <div class="image-text">
                                    <p><span class="ui big text"><b>Cheesecake</b></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="image-container blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="Productos.html">
                                        <button class="ui button" style="background-color: #D782BA;">
                                            <p><span class="ui large text">Presentan una capa superior de galleta
                                                    crujiente sobre un rico brownie de chocolate. Es una experiencia de
                                                    sabor inigualable.</span></p>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href=""><img style="width: 100%; height: 620px; object-fit: cover;" src="/brookie.jpg"
                                alt="imagen 8"></a>
                        <div class="image-text">
                            <p><span class="ui big text"><b>Brookie</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Footer -->
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="four wide column">
                        <h4 class="ui inverted header">Contactos</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">
                                <i class="envelope icon"></i> carlosk.garza@udem.edu
                            </a>
                            <a href="#" class="item">
                                <i class="phone icon"></i> 1 81 1299 7559
                            </a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Políticas</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">
                                <i class="cookie bite icon"></i> Privacidad y cookies
                            </a>
                            <a href="#" class="item">
                                <i class="file alternate icon"></i> Términos y condiciones
                            </a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Compra presencial</h4>
                        <div class="ui inverted link list">
                            <a href="https://linktr.ee/capi_brownies" class="item" target="_blank">
                                <i class="map marker alternate icon"></i> Ubicaciones</a>
                            <a href="" class="item">
                                <i class="calendar alternate icon"></i> Horarios</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Redes Sociales</h4>
                        <div class="ui inverted link list">
                            <a href="https://www.tiktok.com/@capi_brownies" class="item" target="_blank">
                                <i class="tiktok icon"></i> Capi_Brownies
                            </a>
                            <a href="https://www.instagram.com/capi_brownies" class="item" target="_blank">
                                <i class="instagram icon"></i> CapiBrownies
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <p style="text-align: center;">CapiBrownies &copy; 2023</p>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#despegable').click(function () {
                $('.ui.sidebar').sidebar('toggle');
            });
        });

        $(document).ready(function () {
            $('#hamburger').click(function () {
                $('.ui.sidebar').sidebar('toggle');
            });
            $('#user-dropdown').popup({
                popup: '#user-dropdown-content',
                on: 'click',
                position: 'bottom right',
                exclusive: true,
            });
        });

        $('.special.cards .image').dimmer({
            on: 'ontouchstart' in document.documentElement ? 'click' : 'hover'
        });
    </script>

    <style>
        .centered-content {
            display: flex;
            align-items: center;
            margin-right: 40px;
        }

        .image-container {
            position: relative;
            overflow: hidden;
        }

        .image-text {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            /* Change the text color if needed */
            font-size: 24px;
            /* Adjust the font size as needed */
            text-align: center;
            z-index: 2;
            /* Ensure the text is above the image */
        }
    </style>
</body>

</html>