<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
</head>
<style>
    body {
        background-color: #f4f4f4;
    }

    .containers {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>

<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; ">
        <div class="ui raised horizontal segments">
            <div class="ui segment column" style="max-width: 400px;">
                <h2 class="ui brown header">
                    <div class="content">
                        Iniciar sesión
                    </div>
                </h2>
                <form class="ui form" method="POST" action="/">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui label">
                                    <i class="ui user icon"></i>
                                </div>
                                <input type="email" name="usuario" id="id" placeholder="Correo" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui label">
                                    <i class="ui lock icon"></i>
                                </div>
                                <input type="password" name="contrasena" id="contra" placeholder="Contraseña" required>
                                <div class="ui label">
                                    <i class="ui low vision icon link" id="mostrarContra"></i>
                                </div>
                            </div>
                        </div>
                        <button class="ui brown fluid teal submit button" type="submit">Enviar</button>
                    </div>
                </form>
                <p></p>
                <a class="ui brown bottom ribbon label" href="/registro.html">Crear cuenta</a>
            </div>
        </div>
    </div>




    <!-- alerta -->
    <div class="ui modal message warning" id="alerta" style="display: none;">
        <i class="close icon" onclick="cerrarAlerta()"></i>
        <div class="header">
            <i class="exclamation triangle icon"></i> ¡Error!
        </div>
        <div class="content">
            <p id="alertaMessage" class="ui header center aligned"></p>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            const mostrarContra = document.getElementById("mostrarContra");
            const password = document.getElementById("contra");

            mostrarContra.addEventListener("click", function () {
                if (password.type === "password") {
                    password.type = "text";
                } else {
                    password.type = "password";
                }
            });

            $("form").submit(function (e) {
                e.preventDefault();

                const usuario = $("#id").val();
                const contrasena = $("#contra").val();

                // Serializa los datos del formulario como JSON
                const data = {
                    usuario,
                    contrasena
                };

                $.ajax({
                    type: "POST",
                    url: "/",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (response) {
                        window.location.href = "/index.html";
                    },
                    error: function (error) {
                        abrirAlerta("Credenciales incorrectas");
                    }
                });
            });
        });
        // funciones para alerta 
        function abrirAlerta(mensaje) {
            document.getElementById("alertaMessage").textContent = mensaje;
            $('#alerta').modal('show');
        }

        function cerrarAlerta() {
            $('#alerta').modal('hide');
        }

    </script>
</body>

</html>