<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brownie de Oreo</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
</head>

<body class="stackable" style="background-color: #F4F3EE;">
    <!-- Sidebar -->
    <div class="ui inverted vertical sidebar menu">
        <a class="item" href="index.html">Inicio</a>
        <a class="item" href="Productos.html">Productos</a>
        <a class="item" href="conocenos.html">Conócenos</a>
    </div>
    <div class="pusher" style="background-color: #F4F3EE;">
        <div class="ui segment" style="background-color: #4b2d19;">
            <div class="centered-content">
                <button class="ui inverted icon button" id="hamburger">
                    <i class="bars icon"></i>
                </button>
                <img class="ui centered small image" style="height: 70px; object-fit: contain;" src="/logo.jpg"
                    alt="Logo CapiBrownies">
                <div class="ui inverted icon buttons">
                    <button class="ui inverted button" id="miBoton"><i class="shopping cart icon"></i></button>
                    <div class="ui flowing popup transition hidden">
                        <div class="ui three column divided center aligned grid">
                            <div class="column">
                                <div class="ui segment" style="max-height: 100%; right: 145px; width: 400px;">
                                    <h2 class="ui header">Carrito
                                        de Compras</h2>
                                    <div class="ui raised segment">
                                        <ul id="lista-carrito" class="ui list relaxed divided">
                                            <!-- Aquí se mostrarán los productos agregados -->
                                        </ul>
                                        <p>Total: <span id="total" class="ui header">$0</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="ui inverted button" id="user-dropdown">
                        <i class="user icon"></i>
                    </a>
                    <div class="ui flowing popup transition hidden" id="user-dropdown-content">
                        <!-- Dropdown content goes here -->
                        <div class="ui vertical inverted menu">
                            <a class="item" href="/usuario.html">Cuenta</a>
                            <a class="item">Preferencias</a>
                            <div class="divider"></div>
                            <a class="item" href="/">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <main class="ui container">
            <section class="ui segment product-details">
                <header class="ui container">
                    <h1 class="ui header" style="margin-bottom: 10px;">Brownie de Oreo</h1>
                </header>
                <div class="ui two column grid">
                    <div class="column">
                        <div class="product-image">
                            <img class="ui image" style="max-height: 360px; width: 100%; object-fit: cover;" src="/oreo.jpg" alt="Regular">
                        </div>
                    </div>
                    <div class="column">
                        <div class="product-info">
                            <h2 class="ui header">Descripción</h2>
                            <p><span class="ui large text">Cargados de trozos de galleta Oreo. Es una mezcla celestial de chocolate y galleta que hará que tus papilas gustativas se vuelvan locas.</span></p>
                            <p>Precio: <strong>$50.00</strong></p>
                            <br>
                            <div class="ui button carrito" id="compra${index}">
                                <i class="shopping cart icon" style="visibility: visible;"></i>Agregar al carrito
                            </div>
                            <br><br>
                            <button class="ui secondary button" id="add-to-cart">Comprar</button>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="ui segment product-reviews">
                <h2 class="ui header">Reseñas</h2>
                <ul class="ui list">
                    <li>
                        <strong>BrownieFanatic:</strong> Como fanático de los brownies, puedo decir con certeza que estos son los mejores que he probado. ¡Su textura y sabor son incomparables!
                    </li>
                    <li>
                        <strong>CocoaDreamer:</strong> Los brownies son simplemente un sueño hecho realidad. Cargados de cacao y con ese toque perfecto de decadencia. ¡No puedo resistirme!
                    </li>
                </ul>
            </section>
        </main>
    
        <br>
        <!-- Footer -->
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="four wide column">
                        <h4 class="ui inverted header">Contactos</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">
                                <i class="envelope icon"></i> carlosk.garza@udem.edu
                            </a>
                            <a href="#" class="item">
                                <i class="phone icon"></i> 1 81 1299 7559
                            </a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Políticas</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">
                                <i class="cookie bite icon"></i> Privacidad y cookies
                            </a>
                            <a href="#" class="item">
                                <i class="file alternate icon"></i> Términos y condiciones
                            </a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Compra presencial</h4>
                        <div class="ui inverted link list">
                            <a href="https://linktr.ee/capi_brownies" class="item" target="_blank">
                                <i class="map marker alternate icon"></i> Ubicaciones</a>
                            <a href="" class="item">
                                <i class="calendar alternate icon"></i> Horarios</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Redes Sociales</h4>
                        <div class="ui inverted link list">
                            <a href="https://www.tiktok.com/@capi_brownies" class="item" target="_blank">
                                <i class="tiktok icon"></i> Capi_Brownies
                            </a>
                            <a href="https://www.instagram.com/capi_brownies" class="item" target="_blank">
                                <i class="instagram icon"></i> CapiBrownies
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <p style="text-align: center;">CapiBrownies &copy; 2023</p>
            </div>
        </div>
    </div>

</body>

<style>
    .centered-content {
        display: flex;
        align-items: center;
    }
</style>

<script>
    $(document).ready(function () {
        $('#hamburger').click(function () {
            $('.ui.sidebar').sidebar('toggle');
        });
        $('#user-dropdown').popup({
            popup: '#user-dropdown-content',
            on: 'click',
            position: 'bottom right',
            exclusive: true,
        });
    });
</script>

</html>