<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapiBrownies - Productos</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
</head>
<style>
    .centered-content {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
</style>

<body style="background-color: #F4F3EE;">
    <div style="background-color: #F4F3EE;">
        <div class="ui inverted segment">
            <div class="centered-content">
                <button class="ui inverted icon button" id="hamburger">
                    <i class="bars icon"></i>
                </button>
                <img class="ui centered small image" style="height: 70px; object-fit: cover;"
                    src="https://fomantic-ui.com/images/wireframe/image.png" alt="Logo CapiBrownies">
                <div class="ui inverted icon buttons" style="position: absolute; right: 120px;">
                    <button class="ui inverted button" id="miBoton"><i class="shopping cart icon"></i></button>
                    <div class="ui flowing popup transition hidden">
                        <div class="ui three column divided center aligned grid">
                            <div class="column">
                                <div class="ui raised segment" style="max-height: 100%; right: 145px; width: 400px;">
                                    <h2 class="ui header">Carrito de Compras</h2>
                                    <ul id="lista-carrito" class="ui list">
                                        <!-- Aquí se mostrarán los productos agregados -->
                                    </ul>
                                    <p>Total: <span id="total" class="ui header">$0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <a class="ui inverted button" href="#">
                    <i class="user icon"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="ui inverted vertical sidebar menu">
        <a class="item" href="index.html">Inicio</a>
        <a class="active item" href="Productos.html">Productos</a>
        <a class="item" href="#">Conócenos</a>
    </div>

    <!-- Productos -->

    <div class="ui four column doubling stackable grid container" style=" margin-top: 10px; ">
        <!-- Los productos se cargarán aquí desde JavaScript -->
    </div>

    </div>


    <div class="ui modal message warning" id="alerta" style="display: none;">
        <i class="close icon" onclick="cerrarAlerta()"></i>
        <div class="header">
            <i class="exclamation triangle icon"></i> ¡Error!
        </div>
        <div class="content">
            <p id="alertaMessage" class="ui header center aligned"></p>
        </div>
    </div>

    <script src="/productos.js"></script>
    <!-- <script src="/carrito.js"></script> -->

</body>

</html>