<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapiBrownies - Productos</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
</head>

<body class="stackable" style="background-color: #F4F3EE;">
    <!-- Sidebar -->
    <div class="ui inverted vertical sidebar menu">
        <a class="item" href="index.html">Inicio</a>
        <a class="active item" href="Productos.html">Productos</a>
        <a class="item" href="conocenos.html">Conócenos</a>
    </div>
    <div class="pusher" style="background-color: #F4F3EE;">
        <div class="ui segment" style="background-color: #4b2d19;">
            <div class="centered-content">
                <button class="ui inverted icon button" id="hamburger">
                    <i class="bars icon"></i>
                </button>
                <img class="ui centered small image" style="height: 70px; object-fit: contain;" src="/logo.jpg"
                    alt="Logo CapiBrownies">
                <div class="ui inverted icon buttons">
                    <button class="ui inverted button" id="miBoton"><i class="shopping cart icon"></i></button>
                    <div class="ui flowing popup transition hidden">
                        <div class="ui three column divided center aligned grid">
                            <div class="column">
                                <div class="ui inverted segment" style="max-height: 100%; right: 145px; width: 400px;">
                                    <h2 class="ui header">Carrito
                                        de Compras</h2>
                                    <div class="ui raised segment">
                                        <ul id="lista-carrito" class="ui list relaxed divided">
                                            <!-- Aquí se mostrarán los productos agregados -->
                                        </ul>
                                        <p>Total: <span id="total" class="ui header">$0</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="ui inverted button" id="user-dropdown">
                        <i class="user icon"></i>
                    </a>
                    <div class="ui flowing popup transition hidden" id="user-dropdown-content">
                        <!-- Dropdown content goes here -->
                        <div class="ui vertical inverted menu">
                            <a class="item" href="/usuario.html">Cuenta</a>
                            <a class="item">Preferencias</a>
                            <div class="divider"></div>
                            <a class="item" href="/">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Productos -->
        <div class="ui four column doubling stackable grid container" style=" margin-top: 10px; ">
            <!-- Los productos se cargarán aquí desde JavaScript -->
        </div>
    </div>

    <!-- alerta -->
    <div class="ui modal" id="alerta"
        style="display: none; width: 400px; background-color: #fff; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <i class="close icon" onclick="cerrarAlerta()"
            style="position: absolute; top: 10px; right: 10px; cursor: pointer;"></i>
        <div class=" header"
            style="background-color:#8B4513; color: #fff; padding: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="ui mini image" style="float: left;">
                <img src="/logo.jpg" alt="Logo de la empresa" style="max-width: 40px;">
            </div>
            <div class="error-text" style="float: left; margin-left: 10px; font-size: 20px;">Tu compra es:</div>
            <div style="clear: both;"></div>
        </div>
        <div class="content" style="padding: 20px;">
            <p id="alertaMessage" class="ui header center aligned"></p>
        </div>
    </div>

    <br>
    <!-- Footer -->
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="four wide column">
                    <h4 class="ui inverted header">Contactos</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">
                            <i class="envelope icon"></i> carlosk.garza@udem.edu
                        </a>
                        <a href="#" class="item">
                            <i class="phone icon"></i> 1 81 1299 7559
                        </a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">Políticas</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">
                            <i class="cookie bite icon"></i> Privacidad y cookies
                        </a>
                        <a href="#" class="item">
                            <i class="file alternate icon"></i> Términos y condiciones
                        </a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">Compra presencial</h4>
                    <div class="ui inverted link list">
                        <a href="https://linktr.ee/capi_brownies" class="item" target="_blank">
                            <i class="map marker alternate icon"></i> Ubicaciones</a>
                        <a href="" class="item">
                            <i class="calendar alternate icon"></i> Horarios</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">Redes Sociales</h4>
                    <div class="ui inverted link list">
                        <a href="https://www.tiktok.com/@capi_brownies" class="item" target="_blank">
                            <i class="tiktok icon"></i> Capi_Brownies
                        </a>
                        <a href="https://www.instagram.com/capi_brownies" class="item" target="_blank">
                            <i class="instagram icon"></i> CapiBrownies
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p style="text-align: center;">CapiBrownies &copy; 2023</p>
        </div>
    </div>
    </div>

    <script src="/productos.js"></script>
    <!-- <script src="/carrito.js"></script> -->
</body>

<style>
    .centered-content {
        display: flex;
        align-items: center;
    }
</style>

<script>
    $(document).ready(function () {
        $('#hamburger').click(function () {
            $('.ui.sidebar').sidebar('toggle');
        });
        $('#user-dropdown').popup({
            popup: '#user-dropdown-content',
            on: 'click',
            position: 'bottom right',
            exclusive: true,
        });
    });
</script>

</html>