<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapiBrownies - Registro</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
</head>

<body class="stackable">
    <style>
        body {
            background-color: #F4F3EE;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>

    <div class="ui middle aligned center aligned grid container">
        <div class="column">
            <h2 class="ui brown image header">
                <div class="content">
                    Registro de Usuario
                </div>
            </h2>
            <form class="ui large form" id="registrationForm" method="POST" action="/registro.html">
                <div class="ui segment">
                    <div class="field">

                        <input type="text" name="name1" id="name1" placeholder="Nombre de Usuario">
                    </div>
                    <div class="field">

                        <input type="text" name="apellido" id="apellido" placeholder="Apellido de Usuario">
                    </div>
                    <div class="field">

                        <input type="email" name="email1" id="email1" placeholder="Correo Electrónico">
                    </div>
                    <div class="field">

                        <div class="ui left labeled input">
                            <input type="password" name="contrasena" id="contra" placeholder="Contraseña">
                            <div class="ui label">
                                <i class="ui low vision icon link" id="mostrarContra"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <input type="password" name="contrasena2" id="contra2" placeholder="Comprobar contraseña">
                            <div class="ui label">
                                <i class="ui low vision icon link" id="mostrarContra2"></i>
                            </div>
                        </div>
                    </div>
                    <button class="ui fluid large brown submit button" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>

    $("form").submit(function (e) {
        e.preventDefault();

        var password1 = document.getElementById("contra").value;
        var password2 = document.getElementById("contra2").value;

        if (password1 === password2) {
            const nombre = $("#name1").val();
            const apellido = $("#apellido").val();
            const correo = $("#email1").val();
            const contra = $("#contra").val();

            // Serializa los datos del formulario como JSON
            const data = {
                nombre,
                apellido,
                correo,
                contra,
            };

            $.ajax({
                type: "POST",
                url: "/registro.html",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (response) {
                    window.location.href = "/registro.html";
                },
                error: function (error) {
                    console.log("llega nombre", nombre);
                    alert("Credenciales incorrectas");
                }
            });
        } else {
            alert('Las contraseñas no concuerdan.');
        }
    });

    $(document).ready(function () {
        const mostrarContra = document.getElementById("mostrarContra");
        const password = document.getElementById("contra");

        mostrarContra.addEventListener("click", function () {
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        });
    });

    $(document).ready(function () {
        const mostrarContra = document.getElementById("mostrarContra2");
        const password = document.getElementById("contra2");

        mostrarContra.addEventListener("click", function () {
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        });
    });

</script>

</html>