<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapiBrownies - Registro</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
</head>

<body class="stackable">
    <style>
        body {
            background-color: #F4F3EE;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>

    <div class="ui middle aligned center aligned grid container">
        <div class="column">
            <h2 class="ui brown image header">
                <div class="content">
                    Registro de Usuario
                </div>
            </h2>
            <form class="ui large form" id="registrationForm" method="POST" action="/registro.html">
                <div class="ui segment">
                    <div class="field">

                        <input type="text" name="name1" id="name1" placeholder="Nombre de Usuario">
                    </div>
                    <div class="field">

                        <input type="text" name="apellido" id="apellido" placeholder="Apellido de Usuario">
                    </div>
                    <div class="field">

                        <input type="email" name="email1" id="email1" placeholder="Correo Electrónico">
                    </div>
                    <div class="field">

                        <div class="ui left labeled input">
                            <input type="password" name="contrasena" id="contra" placeholder="Contraseña">
                            <div class="ui label">
                                <i class="ui low vision icon link" style="margin: 0.3em;" id="mostrarContra"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <input type="password" name="contrasena2" id="contra2" placeholder="Comprobar contraseña">
                            <div class="ui label">
                                <i class="ui low vision icon link" style="margin: 0.3em;" id="mostrarContra2"></i>
                            </div>
                        </div>
                    </div>
                    <button class="ui fluid large brown submit button" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- alerta -->
    <div class="ui modal" id="alerta"
        style="display: none; width: 400px; background-color: #fff; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <i class="close icon" onclick="cerrarAlerta()"
            style="position: absolute; top: 10px; right: 10px; cursor: pointer;"></i>
        <div class=" header"
            style="background-color:#8B4513; color: #fff; padding: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="ui mini image" style="float: left;">
                <img src="/logo.jpg" alt="Logo de la empresa" style="max-width: 40px;">
            </div>
            <div class="error-text" style="float: left; margin-left: 10px; font-size: 20px;">Error</div>
            <div style="clear: both;"></div>
        </div>
        <div class="content" style="padding: 20px;">
            <p id="alertaMessage" class="ui header center aligned"></p>
        </div>
    </div>
    <!-- alerta2 -->
    <div class="ui modal" id="alerta2"
        style="display: none; width: 400px; background-color: #fff; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <i class="close icon" onclick="cerrarAlerta()"
            style="position: absolute; top: 10px; right: 10px; cursor: pointer;"></i>
        <div class="header"
            style="background-color:#8B4513; color: #fff; padding: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="ui mini image" style="float: left;">
                <img src="/logo.jpg" alt="Logo de la empresa" style="max-width: 40px;">
            </div>
            <div class="error-text" style="float: left; margin-left: 10px; font-size: 20px;">Error</div>
            <div style="clear: both;"></div>
        </div>
        <div class="content" style="padding: 20px;">
            <p id="alertaMessage2" class="ui header center aligned"></p>
            <button class="ui button" onclick="regresar()">Regresar</button>
        </div>
    </div>

</body>
<script>

    $("form").submit(function (e) {
        e.preventDefault();
        const nombre = $("#name1").val();
        const apellido = $("#apellido").val();
        const correo = $("#email1").val();
        const contra = $("#contra").val();
        const contra2 = $("#contra2").val();

        // Serializa los datos del formulario como JSON
        const data = {
            nombre,
            apellido,
            correo,
            contra,
            contra2
        };
        $.ajax({
            type: "POST",
            url: "/registro.html",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                abrirAlerta2("cuenta creada exitosa mente");
            },
            error: function (error) {
                abrirAlerta("Algo salio mal vuelvalo a intentar");
            }
        });
    });

    $(document).ready(function () {
        const mostrarContra = document.getElementById("mostrarContra");
        const password = document.getElementById("contra");

        mostrarContra.addEventListener("click", function () {
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        });
    });

    $(document).ready(function () {
        const mostrarContra = document.getElementById("mostrarContra2");
        const password = document.getElementById("contra2");

        mostrarContra.addEventListener("click", function () {
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        });
    });
    // funciones para alerta 
    function abrirAlerta(mensaje) {
        document.getElementById("alertaMessage").textContent = mensaje;
        $('#alerta').modal('show');
    }
    function cerrarAlerta() {
        $('#alerta').modal('hide');
    }


    function abrirAlerta2(mensaje) {
        document.getElementById("alertaMessage2").textContent = mensaje;
        $('#alerta2').modal('show');
    }
    function cerrarAlerta() {
        $('#alerta2').modal('hide');
    }
    function regresar() {
        window.location.href = "/";
    }

</script>

</html>